body {
    width: 90%
}

#bio-pic {
    transform: scale(0.5, 0.5) translateY(-50%);
}

.navigation {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    left: 100px;
    display: block;
}

.navigation tr td {
    /* padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0; */

    height: auto;
    /*margin: auto;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: auto;
    width: 400px;
    border: 2px solid;
    text-align: center;
}

.content {
    margin-left: 500px;
}

.header {
    margin-left: 500px;
    background-color: goldenrod;
}

.horiz-page {
    display: flex;
    flex-direction: row;
}